{% extends "layout.html" %}
{% block headers %}
<link href="/static/css/form.css" rel="stylesheet">
{% endblock %}
{% block steps %}
{% endblock %}
{% block body %}
<h1>4TU.ResearchData FAIR Data Fund</h1>

<p>The <strong>FAIR Data Fund</strong> offers researchers an opportunity to
  apply for financial aid to cover the costs of making their datasets and/or
  software FAIR: Findable, Accessible, Interoperable and Reusable
  (<a href="https://www.nature.com/articles/sdata201618">the FAIR principles</a>).
  4TU.ResearchData believes in the added value and benefit of making research
  data and software FAIR.</p>

{%- if submissions_open %}
<div style="text-align: center">
  <p class="a-button"><a href="/application-form">Apply here</a></p>
</div>
{%- else %}
<div style="background: #ffeeaa; padding: .025em .5em .025em .5em;">
  <p>The submissions for 2024 have been closed.</p>
</div>
{%- endif %}
{% endblock %}
